<h2><b>{{ detail.designation }}</b></h2>
<ul>
	<li><h3><b>Company : {{ detail.company }}</b></h3></li>
	<li><h4><b>Job Type : </b>{{ detail.jobtype }}</h4></li>
	<li><h4><b>Experience : </b>{{ detail.experience }}</h4></li>
	<li><h4><b>Place : </b>{{ detail.place }}</h4></li>
	<li><h4><b>Required Skills : </b>{{ detail.required_skills }}</h4></li>
	<li><h4><b>Salary : </b>{{ detail.salary }}</h4></li>
	<li><h4><b>Contact Person : </b>{{ detail.hr_name }}</h4></li>
	<li><h4><b>Total Vacancy : </b>{{ detail.vacancy }}</h4></li>
</ul>

<a href="{% url 'naukri:newuser' detail.id %}"><button>Apply</button></a>