{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'naukri/style.css' %}">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

{% block navigation %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'naukri:index' %}">
      <img src="{% static 'naukri/images/icon.png' %}" width="30" height="30" alt="Logo">
    </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'naukri:index' %}">Home</a></li>
      <li class="active"><a href="#">Profile</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'naukri:mylogout' %}"><button>Logout</button></a></li>
      {% else %}
      <li><a href="{% url 'naukri:mylogin' %}"><button>Login</button></a></li>
      <li><a href="{% url 'social:begin' 'facebook' %}"><button>Login with Facebook<i class="fa fa-facebook-official"></i></button></a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
  
     <!-- login avatar -->
     <div class="container">
        <div class="card card-container">
            <div class="w-100">
                <img src="{% static 'naukri/images/img_avatar2.png' %}" alt="Avatar" class="profile-img-card">
            </div>
            <form method="post" action="/login/"  autocomplete="off">
    <!-- form -->
            <div class="form-group">
            {% csrf_token %}
                <p>
                <label for="username"><b>Username:</b></label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter email">
                </p>
            </div>
            <div class="form-group">
                <p>
                <label for="password"><b>Password:</b></label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </p>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </div>
    </div>
     {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</html>