body {
    background: url("images/background.jpg");
    background-repeat: no-repeat;
}
/*---------for index page-------*/
li a {
    color: red;
}
.view {
    padding: 0px 0px 25px 100px;
}
.card {
    box-shadow: 0px 1px 5px #05020f;
    background-color: #d6e2e6;
}
.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}
.card__title {
    font-size: 2rem;
    padding: .5rem;
}
.card__description {
    padding: .5rem;
    line-height: 1.6em;
}
.button {
    display: block;
    background-color: #0a0a0a;
    padding: 10px 20px;
    color: pink;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
    &:hover {
        background-color: darken(tomato, 10%);
    }
    /*-----------for forms-------*/
/*form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
}
label {
    float: left;
    width: 5px;
    padding-right: 24px;
}
 
input {
    float: left;
    width: 10px;
    width: calc(100% - 200px);
}*/
 
/*button {
    float: right;
    width: calc(100% - 200px);
}*/
/*----------for login avatar-------------*/
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/*.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
    width: 25%;
    height: 25%;
    border-radius: 50%;
}*/
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
/*---------------------------------*/